<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289661892361-lr3i85vfck1cedfvmldkdaf352j6ov8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289661892361-lr3i85vfck1cedfvmldkdaf352j6ov8q</string>
	<key>API_KEY</key>
	<string>AIzaSyDOxcj2S2oJ3ABnN3R_ruoBXD-2DmcU5qA</string>
	<key>GCM_SENDER_ID</key>
	<string>289661892361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherService</string>
	<key>PROJECT_ID</key>
	<string>weather-service-6dcd8</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-service-6dcd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289661892361:ios:bbf44d14eedc94548485d8</string>
</dict>
</plist>